@charset 'utf-8';

/* component */
@use 'component/anchor.scss';

/* Common */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

/* header */
.header {
  margin-top: 20px;

  &__logo {
    padding-left: 214px;
  }

  &__nav {
    height: 41px;
    margin-top: 20px;
    background-color: #333333;

    &-list {
      height: 100%;
      display: flex;
      padding-left: 214px;
    }

    &-listItem {
      height: 100%;
      color: #FFFFFF;

      &:nth-child(n+2) {
        margin-left: 60px;
      }

      & > a {
        display: block;
        height: 100%;
        line-height: 41px;
      }
    }
  }
}

/* main */
.main {
  margin-top: 40px;
  padding: 0 214px;
}

/* pickUp */
.pickUp {
  &__list {
    width: 100%;
    display: flex;

    &-item {
      width: calc((100% - (24px * 2)) / 3);
      &:nth-child(n + 2) {
        margin-left: 24px;
      }

      &-img {
        & > img {
          width: 100%;
        }
      }

      &-info {
        margin-top: 13px;

        &-link {
          margin-top: 21px;
          text-align: center;
        }
      }
    }
  }
}

.contentsWrapper {
  display: flex;
}

/* mainContents */
.mainContents {
  &__list {
    &-item {
      width: 759px;

      &:nth-child(n+2) {
        margin-top: 87px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
  }

  &__info {
    margin-top: 26px;

    &-item {
      font-size: 14px;
      line-height: 17px;
      color: #333333;

      &:nth-child(2) {
        margin-left: 32px;
      }
    }
  }

  &__img {
    margin-top: 13px;

    & > img {
      width: 100%;
    }
  }

  &__detail {
    padding: 0 46px;
    margin-top: 13px;

    &-text {
      line-height: 19px;
      color: #333333;
    }

    &-link {
      margin-top: 33px;
      text-align: center;
    }
  }
}